.Admin__content{
  margin: 0 auto;
  padding: 15px 15px;
  max-width: 1230px;
}

.Admin-form__heading{
  text-align: center;
  margin-bottom: 30px;
}

h2{
  font-family: "Inika", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 28px;
  color:#8B7969;
}

.filter{

}

.filter__inner{

}

.search-filter{
}

.search-filter__item{
  display: flex;
  justify-content: space-between;
}

.search-filter__item-input,
.search-filter__item-gender,
.search-filter__item-category,
.search-filter__item-date,
.search-filter__button{
    display: inline;
  
}

.search-filter__item-input,
.search-filter__item-gender,
.search-filter__item-category{
  padding: 5px;
  text-align: center;
  border: 1px solid #E0DFDE;
  background-color: #FAFAFA;
  border-radius: 3px;
  height: 40px;
  color:#8B7969;
}


.search-filter__item-gender{
  width: 10%;
}
.search-filter__item-input{
  width: 25%;
}

.search-filter__item-category{
  width: 20%;
}

label {
  position: relative;
  display: inline-block;
  width: 200px;
  height: 36px;
  border: 2px solid #ccc;
  border-radius: 3px;
  background-color: #FAFAFA;
  border: 1px solid #E0DFDE;
  height: 40px;
}


.search-filter__item-date input[type="date"] {
  position: relative;
  padding: 0 10px;
  width:  200px;
  height: 36px;
  border: 0;
  background: transparent;
  box-sizing: border-box;
  font-size: 14px;
  color: #999;
}

.search-filter__button{
width: 20%;
display: flex;
justify-content: space-between;

}

.search-filter__button-submit {
  width: 40%;
  height: 40px; 
  border: none;
  border-radius: 3px;
  background: #8B7969;
  color: #fff;
  cursor: pointer; 

}

.search-filter__button-reset {
  width: 40%;
  height: 40px;
  border: none;
  border-radius: 3px;
  background: #D9C5B5; 
  color: #fff;
  cursor: pointer;
}

/* 一覧 */
.admin-table{
  width: 100%;
  margin-top: 30px;
  border-collapse: collapse;
}

.admin-table__inner{
  width: 100%;
}

.admin-table__row{
}

.admin-table__header{
  font-size: 20px;
  text-align: center;
  color:#ffff;
  padding: 15px;
  background-color: rgb(139,121,104);

}

.admin-form__item {
  color:#8B7969;
  padding: 20px;
  font-size: 18px;
  text-align: center;

}

.admin-detail {
  padding: 10px;
  text-align: center;
  border: 1px solid #E0DFDE;
  background-color: #FAFAFA;
  border-radius: 3px;
  color:#8B7969;
  text-decoration: none;
}

.admin-form__item td{
  padding: 30px;
}

/* ページネーション */

.pagination {
  display: flex;
  list-style: none;
  padding: 0;
 justify-content: flex-end;
}
.pagination-nav {
  text-align: right;
  font-family: "Inika", serif;
  font-weight: 400;
  font-style: normal;
  /* font-size: px; */

}

.pagination__item {
  display: block;
  text-decoration: none;
  border: 1px solid #8B7969;
  box-sizing: border-box;
  margin-top: 15px;
}

.pagination__link {
  color: #8B7969;

}

.pagination__link:hover {
  color: #8B7969;
}

.pagination__item.active .pagination__link {
  color: #8B7969;

}

.pagination__item.disabled .pagination__link {
  color: #8B7969;
  pointer-events: none;
  cursor: not-allowed;
}

.pagination__number {
  display: inline-block;
  padding: 4px 8px;
}

.pagination__arrow {
  display: inline-block;
  font-size: 1.2em;
  color: #8B7969;
  padding: 2px 5px;
}

.pagination__link:hover .pagination__arrow {
  color: #8B7969;
  border-radius: 4px 0 0 0;

}
