.Admin__content{
  margin: 0 auto;
  padding: 15px 15px;
  max-width: 1230px;
}

.Admin-form__heading{
  text-align: center;
  margin-bottom: 30px;
}

h2{
  font-family: "Inika", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 28px;
  color:#8B7969;
}

.filter{

}

.filter__inner{

}

.search-filter{
}

.search-filter__item{
  display: flex;
  justify-content: space-between;
}

.search-filter__item-input,
.search-filter__item-gender,
.search-filter__item-category,
.search-filter__item-date,
.search-filter__button{
    display: inline;
}

.search-filter__item-input,
.search-filter__item-gender,
.search-filter__item-category{
  padding: 5px;
  text-align: center;
  border: 1px solid #E0DFDE;
  background-color: #FAFAFA;
  border-radius: 3px;
  height: 40px;
  color:#8B7969;
}


.search-filter__item-gender{
  width: 10%;
}
.search-filter__item-input{
  width: 25%;
}

.search-filter__item-category{
  width: 20%;
}

label {
  position: relative;
  display: inline-block;
  width: 200px;
  height: 36px;
  border: 2px solid #ccc;
  border-radius: 3px;
  background-color: #FAFAFA;
  border: 1px solid #E0DFDE;
  height: 40px;
}


.search-filter__item-date input[type="date"] {
  position: relative;
  padding: 0 10px;
  width:  200px;
  height: 36px;
  border: 0;
  background: transparent;
  box-sizing: border-box;
  font-size: 14px;
  color: #999;
}

.search-filter__button{
width: 20%;
display: flex;
justify-content: space-between;

}

.search-filter__button-submit {
  width: 40%;
  height: 40px; 
  border: none;
  border-radius: 3px;
  background: #8B7969;
  color: #fff;
  cursor: pointer; 

}

.search-filter__button-reset {
  width: 40%;
  height: 40px;
  border: none;
  border-radius: 3px;
  background: #D9C5B5; 
  color: #fff;
  cursor: pointer;
}

/* 一覧 */
.admin-table{
  width: 100%;
  margin-top: 20px;
  border-collapse: collapse;
}

.admin-table__inner{
  width: 100%;
}

.admin-table__row{
}

.admin-table__header{
  font-size: 15px;
  text-align: center;
  color:#ffff;
  padding: 10px;
  background-color: rgb(139,121,104);
}

.admin-form__item {
  color:#8B7969;
  padding: 20px;
  font-size: 18px;
  text-align: center;

}

.admin-detail {
  padding: 10px;
  text-align: center;
  border: 1px solid #E0DFDE;
  background-color: #FAFAFA;
  border-radius: 3px;
  color:#8B7969;
  text-decoration: none;
}

.admin-form__item td{
  padding: 30px;
}

/* ページネーション */

.pagination {
  display: flex;
  list-style: none;
  padding: 0;
}
.pagination-nav {
  font-family: "Inika", serif;
  font-weight: 400;
  font-style: normal;
}

.pagination__item {
  display: block;
  text-decoration: none;
  border: 1px solid #8B7969;
  box-sizing: border-box;
}

.pagination__link {
  color: #8B7969;

}

.pagination__link:hover {
  color: #8B7969;
}

.pagination__item.active .pagination__link {
  color: #8B7969;

}

.pagination__item.disabled .pagination__link {
  color: #8B7969;
  pointer-events: none;
  cursor: not-allowed;
}

.pagination__number {
  display: inline-block;
  padding: 4px 8px;
}

.pagination__arrow {
  display: inline-block;
  font-size: 1.2em;
  color: #8B7969;
  padding: 2px 5px;
}

.pagination__link:hover .pagination__arrow {
  color: #8B7969;
  border-radius: 4px 0 0 0;

}

/* エクスポートボタン */
.export-form {
  margin-top: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.export__btn {
  background-color: #E1DBD6;
  color: #8B7969;
  font-weight: 400;
  text-align: center;
  border: none;
  padding: 10px 20px;
}


/* モーダル */
.modal {
  /* モーダルウィンドウを固定位置.スクロールしても画面上の同じ位置に表示 */
  position: fixed;
  top: 0;
  left: 0;
  /* モーダルウィンドウを非表示。要素はDOMに存在しますが、表示されない */
  visibility: hidden;
  width: 100%;
  height: 100%;
  /* モーダルウィンドウの透明度を0に設定。要素は完全に透明に。*/
  opacity: 0;
}

.modal:target {
  /* モーダルウィンドウを表示 */
  visibility: visible;
  /* モーダルウィンドウの透明度を1 */
  opacity: 1;
}

.modal-overlay {
  /* 要素は最も近い親要素（relative; または absolute; が設定されている要素）を基準にして配置。その親要素がない場合、要素は最初の位置を基準にして配置。 */
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
}

.modal__inner {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50%;
  border: 1px solid #8B7969;
  background-color: #fff;
  box-shadow: 4px 4px 4px rgba(139, 121, 105, 0.25);
  transform: translate(-50%, -50%);
}

.modal__content {
  position: relative;
  padding: 80px 64px;
}

.modal-form__group {
  display: grid;
  margin-top: 20px;
  grid-template-columns: 1fr 2fr;
  gap: 20px;
}

.modal-form__group:last-of-type {
  margin-bottom: 30px; 
}

.modal-form__label {
  font-weight: bold;
  color: #8B7969;
  background-color: transparent;
  border: none;
  align-items: flex-start;

}

.modal-form__group p{
  color: #8B7969;
}


.modal-form__delete-btn {
  margin: 0 auto;
  display: block;
  background-color: #BA370D;
  color: #FFF;
  cursor: pointer;
  border: none;
  padding: 10px 20px;
}

.modal__close-btn {
  position: absolute;
  top: 32px;
  right: 32px;
  width: 32px;
  height: 32px;
  border: 1px solid #8B7969;
  border-radius: 50%;
  color: #8B7969;
  text-align: center;
  text-decoration: none;
}

